<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<body>

    
    <div style="width: 1205px;margin: 0 auto;">
        <div style="width: 600px;display: inline-block;" class="container mt-5 border">
            <div class="row">
                <div class="col-md-3 border"><img style="margin: 6% 0" width="100%"
                        src="https://d1rkab7tlqy5f1.cloudfront.net/LR/Organisatie/Afdelingen/Aerodynamics__Wind_Energy__Flight_Performance_and_Propulsion/Aerodynamics/People/Fulvio_Scarano.jpg">
                    <div class="row">
                            <div style="text-align: center;" class="col-md-12">good button</div>
                    </div>
                </div>
                <div style="font-size: 30px;" class="col-md-9">
                    <div class="row border">
                        <div style="font-size: 30px;" class="col-md-9">title</div>
                        <div style="font-size: 30px;" class="col-md-1">reply</div>
                    </div>
                    <p>content</p>
                </div>
            </div>
        </div>
        <div style="width: 600px;display: inline-block;" class="container mt-5 border">
            <div class="row">
                <div class="col-md-3 border"><img style="margin: 6% 0" width="100%"
                        src="https://d1rkab7tlqy5f1.cloudfront.net/LR/Organisatie/Afdelingen/Aerodynamics__Wind_Energy__Flight_Performance_and_Propulsion/Aerodynamics/People/Fulvio_Scarano.jpg">
                    <div class="row">
                            <div style="text-align: center;" class="col-md-12">good button</div>
                    </div>
                </div>
                <div style="font-size: 30px;" class="col-md-9">
                    <div class="row border">
                        <div style="font-size: 30px;" class="col-md-9">title</div>
                        <div style="font-size: 30px;" class="col-md-1">reply</div>
                    </div>
                    <p>content</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>